*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body{
  width: 100%;
  font-family: 'Manrope', sans-serif;
}
a{
  text-decoration: none;
  font-size: 20px;
  color:  #000D0D;;
}
.primary-text {
  color: #005655;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.002em;
    text-align: left;
}
.secondary-text {
  color: #72747D !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.002em;
    text-align: left;
}
.color3 {
  background-color: #005655;
}

.color4 {
  background-color: #EDEFF5;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* onboarding-body styling */
.onboarding-body{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  height: 100vh;
  width: 100%;
}
.onboarding-body .main-top{
  /* overflow-x: hidden; */
  width: 100vw;
}
.sliders{
  display: flex;
  gap: 2px;
}
.first-slider{
    border-radius: 5px 0px 0px 5px;
}
.last-slider {
  border-radius: 0px 5px 5px 0px;
}
.slidder{
  width: 24px;
  height: 4px;
}
.onboarding-body h2{
  text-transform: capitalize;
  font-size: 40px;
  margin: 20px 0;
  line-height: 39.2px;
  font-weight: 800;
}
.onboarding-body p{
  font-size: 18px;
  margin-bottom: 20px;
  padding-right: 15px ;
}
.top{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* overflow-x: hidden; */
}
.content{
  width: 100vw !important;
  padding: 10px 0;
}

.middle{
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  object-fit: contain;

  display: flex;
}

.onboarding-body .slide-content{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.middle img{
  width: 100%;
}
/* .bottom{
  background-image: url("/images/Leaf WaterMark.svg");
} 
*/
.onboarding-body .bottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.btn{
  display: flex;
  padding: 15px;
  border-radius: 5px;
  width: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.button1{
  background: #EDEFF5;
}
.button2{
  background: #C9F001;
}

.back{
  border-radius: 40px;
  border: #EDEFF5 1px solid;
  padding: 5px;
  color: #EDEFF5;
  width: 38px;
  display: flex;
  margin-bottom: 20px;
}

.title h3{
  color: #005655;
}

.swiper {
  /* width: 90vw; */
}
.swiper-wrapper{
  padding: 5px;
}
/* home page  */
.homepage, .products, .about-product, .notification-screen, .sign-in{
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.homepage .header .logo .img{
  border-radius: 20px;
}
.homepage .header .logo h2{
  font-size: 16px;
  font-weight: 700;
  margin: 0 5px;
}
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.notification, .logo, .wecome-banner{
  justify-content: space-between;
    align-items: center;
    display: flex;
}
.notification{
  border: solid 1px #bec7ca;
  border-radius: 20px;
  padding: 5px;
  background-color: #EDEFF5;
}
.wecome-banner{
  border-radius: 10px;
  padding: 40px 20px;
  color: white;
}
.wecome-banner .left{
  width: 70%;
}
.first-line{
  width: 90px;
  display: flex;
  align-items: baseline;
  margin-bottom: -10px;
}
.first-line img{
  width: 90px;
  object-fit: contain;
  overflow: hidden;
}
.wecome-banner h2{
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  margin-top: 15px;
}
.wecome-banner p {
  font-size: 16px;
  color: white;
  margin-right: 3px;
  font-weight: 200;
}
.wecome-banner a{
  padding: 10px 20px;
  background-color:#EDEFF5;
  font-size: 14px;
  color: #005655;
  border-radius: 5px;
}
.search-bar {
  display: flex;
  background-color: #EDEFF5;
  margin: 20px 0px;
  padding: 15px;
  border-radius: 5px;
}
.search-bar input{
  border: none;
  background-color: transparent;
  width: 100%;
  margin-left: 10px;
}
.search-bar input:focus{
  outline: none;
}
.group a{
  color: #00C71E;
  font-size: 16px;
}

.texts .main{
  font-size: 14px;
}
.texts .small {
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0;
}
.group .entry img{
  object-fit: contain;
  border-radius: 20px;
  margin-right: 10px;
}
.titles{
  margin-bottom: 10px;
  color: #005655;
}
.item{
  border-bottom: solid 1px #EDEFF5;
  padding: 10px 0;
}
.stories{
  margin: 14px 0;
}
.stories .entry .texts{
margin-right: 10px;
}
.view-more{
  width: 100%;
  text-align: center !important;
  margin: 20px 0;
}
.new{
  display: flex;
  margin: 5px 0;
  gap: 10px;
  align-items: center;
  
}
.group .texts h3{
  font-weight: 400;
  font-size: 16px;
}
.new p, .new li{
font-size: 10px !important;
  font-weight: 200;
}
/* products page */
.filter{
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
}
.product-left{
  width: 89%;
}

/* product-info page styling */
.single-product{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.product-header{
  background-color: #005655;
  color: #EDEFF5;
  padding: 20px 0;
}
.single-product .nav {
  padding: 0px 20px;
}
.single-product .back {
  border-radius: 40px;
  border: #EDEFF5 1px solid;
  padding: 5px;
  color: #EDEFF5;
  width: 38px;
  display: flex;
}
.header-top{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.header-top .left h3, .header-top .right h3{
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}
.header-top .left p, .header-top .right p{
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: 0em;
}
.product-header .images{
  width: 100%;
  object-fit: contain;
}
.product-header .images img{
  width: 100%;
}
.menus{
  margin: 20px;
  border: #EDEFF5 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.menus a:active{
  color: #72747D;
}
.menu img{
  background-color: #C9F001;
  padding: 10px;
  border-radius: 4px;
  width: 48px;
  margin-bottom: 10px;
}
.menu p{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #005655;
}

.menu{
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single-product .cont{
  padding: 20px;
}
.single-product .cont .title{
  margin-bottom: 24px;
}
.single-product h4{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #005655;
}
.single-product .cont h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justified;
  margin-bottom: 14px;
  color: #72747D;
}
.single-product .cont p{
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justified;
  margin-bottom: 24px;
}
.single-product .cont .imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}
/* about product page */
.about-product h3{
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  color: #005655;
  margin-bottom: 20px;
}
.about-product .conts p{
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #72747D;
}
.about-product .conts img{
  width: 100%;
  margin: 15px 0;
}
.about-product .clos{
  border-radius: 5px;
  border: solid #005655 1px;
  padding: 5px 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.002em;
  text-align: left;
  color: #005655;
  text-align: center;
  margin: 40px 0;
}
/* notification screen styles */
.notification-screen{

}
.notification-screen .badge{
  background-color: #C9F001;
  border-radius: 20px;
  padding: 3px 6px;
  display: flex;
  margin-left: 5px;
}
.notification-screen .badge p{
  font-size: 10px;
  color: #005655;
  font-weight: 800;
}
.notification-screen .notice a{
  color: #FD683D;
  text-transform: capitalize;
}
.notification-screen .entry h3{
  font-size: 14px !important;
}
.notification-screen .entry p{
  font-size: 10px;
}

.notice{
  margin: 28px 0 !important;
}
/* notification modal */
.notication-modal .title{
  border-bottom: solid #EDEFF5;
  padding: 20px 0;
  margin-bottom: 10px;
}
.notication-modal .title h3{
  color: #005655;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.notication-modal .title p, .notication-modal .next-line p{
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #72747D;
}
.notication-modal {
  padding: 20px;
}
.notication-modal p{
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: justified;
}
.notication-modal .tof{
  display: flex;
  align-items: baseline;
  border-bottom: solid #EDEFF5;
  margin-bottom: 10px;
}
.notication-modal .tof h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.notication-modal .tof p{
  color: #21BF73;
  margin-left: 5px;
}
.notication-modal .buttn {
  background-color: #005655;
  font-size: 18px;
  font-weight: 600;
  color: #fcfcfd;
  padding: 14px 20px;
  border-radius: 10px;
  margin-top: 50px;
}
.notication-modal a{
  color: #fcfcfd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}
/* authentication styling */
/* sign in page styling */
.container h1{
  color: #005655 ;
  font-size: 24px; 
  font-weight: 800;
  line-height: 30px;
}
 .container p{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #72747D;
}
 .container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
 .container form input{
  outline: none;
  padding: 15px 10px;
  border: none;
  background-color: #EDEFF5;
  border-radius: 5px;
  width: 100%;
}
 .container .otp-text{
  text-align: center;
}
.sign-in .container .otp-timer{
  text-align: center;
  margin-top: 60px;
}
 .container form input::placeholder{
  color: #c3c4ca;
  font-size: 16px;
}
.container form label{
  font-size: 16px;
  color: #72747D;
  margin-top: 17px;
}
 .container  a{
  color: #005655;
  font-size: 16px;
}
 .container form .input{
  background-color: #EDEFF5;
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
  border-radius: 5px;
}
 .container form .input a{
  margin-bottom: 0px;
}
 .container form .input a img{
  fill: #C3C4CD;
  width: 24px;
}
 .container form button{
  outline: none; 
  border: none; 
  background-color: #005655;
  color: #EDEFF5;
  padding: 15px 10px;
  border-radius: 5px;
  margin-top: 64px;
  margin-bottom: 34px;
}
 .container .tell{
  display: flex;
  gap: 10px;
  justify-content: center;
}
/* successful page styling */
.success-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.success-body h2{
  font-weight: 800;
  font-size: 24px;
  margin-top: 20px;
}
.success-body p{
  width: 70%;
  text-align: center;
  font-size: 16px;
  color: #72747D;
}

.success-body a{
  background-color: #EDEFF5;
  display: flex;
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  justify-content: center;
  color: #72747D;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 109px;
}
/* profile styling */
.profile-header{
  background: url("./images/Unionbg-art.svg") bottom right no-repeat #005655;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  color: #EDEFF5;
  gap: 10px;
}
.profile-header .avata{
  border-radius: 50%;
  background-color: #C9F001;
  padding: 18px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-header .avata img{
  width: 30px;
}
.profile-header h3{
  font-size: 24px;
  font-weight: 500;
}
.profile-header p{
  font-size: 16px;
  font-weight: 300;
}
.profile-header .switch button{
  background-color:  rgba(255, 255, 255, 0.15);
  outline: none;
  border: none;
  padding: 10px 26px;
  border-radius: 25px;
  color: #EDEFF5;
  font-size: 16px;
  font-weight: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.profile .menu-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px;
  border-radius: 10px 10px 0 0 ;
  background-color: #fff;
  position: relative;
  top: -10px;
}
.edit-profile, .my-business, .other-features, .monitored-products, .StyloVault-Business{
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  background-color: rgba(0, 108, 235, 0.05);border: #006CEB80 solid 1px;
}
.my-business{
  border-color: #9A5EE780;
  background-color: rgba(154, 94, 231, 0.05);
}
.monitored-products{
  border-color: #EF4C4980;
  background-color: rgba(239, 76, 73, 0.05);
}
.StyloVault-Business{
  border-color: #00C71E80;
  background-color:  rgba(0, 199, 30, 0.05);
}
.other-features{
  background-color: rgba(114, 116, 125, 0.05);
  border-color: rgba(114, 116, 125, 0.5);
}

.menu-grid p{
  width: 100px;
  font-size: 16px;
  font-weight: 530;
}
 .left .img{
  padding: 10px 14px;
  border-radius: 50%;
  width: 45px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.edit-profile .left .img{
  background-color: #006CEB1A;
}
.monitored-products .left .img{
  background-color: #EF4C491A;
}
.StyloVault-Business .left .img{
  background-color: #00C71E1A;
}
.my-business .left .img{
  background-color: #9A5EE71A;
}
.other-features .left .img{
  background-color: rgba(114, 116, 125, 0.5);
}
.other-features .left .img img{
  width: 20px;
  height: 20px;
}
.others{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.others .menu-lists{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.others .menu-lists a {
  font-size: 16px;
}
.others .list{
  border: rgba(237, 239, 245, 1) solid 1px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
}
.others .list .left{
  display: flex;
  align-items: center;
  gap: 10px;
}
/* edit profile  */
.edit-profile-screen{
  display: flex;
  flex-direction: column;
  padding: 20px;  
}
.edit-profile-screen .back{
  border-radius: 40px;
    border: #EDEFF5 1px solid;
    padding: 5px;
    color: #EDEFF5;
    width: 38px;
    display: flex;
    margin-bottom: 20px;
}
.profile-pics-section{
  display: flex;
  align-items: center;
}
.profile-pics {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
.profile-pics .pixs{
  border-radius: 50%;
  width: 85px;
  border: solid 2px ;
  object-fit: contain;
}
.profile-pics a{
  height: 20px;
  position: relative;
  bottom: 20px;
  right: 20px;
}
.profile-pics a img{
  background-color: rgba(167, 174, 193, 0.5);
  border-radius: 50%;
  border: solid 2px #FFFFFF;
  padding: 5px;
  display: flex;
  align-items: center;
}
.profile-pics-section .texts p{
  font-size: 12px ;
  line-height: 20px;
  font-weight: 300;
}
 .row{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
 .row select{
  border: none;
  background: none;
  padding: 12px;
  font-size: 18px;
  font-weight: 300;
  outline: none;
  width: 100%;
}
 .row .gend,  .row .dob {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
/* business info */
.spread{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spread img{
  background-color: #005655;
}
.spread a{
  display: flex;
  background-color: #005655;
  color: #EDEFF5;
  padding: 10px 12px;
  gap: 15px;
  border-radius: 5px;
}
.empty{
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: rgba(201, 240, 1, 0.1);
  /* opacity: 5%; */
  border-radius: 50%;
}

.full{
  height: 100vh !important;
  top: -30px;
}

.textes {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textes p{
  width: 100%;
  font-weight: 300;
}
.textes a{
  padding: 0px;
  background-color:  #ffffff;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #005655;
    font-weight: 300;
    border-radius: none;
    margin-top: 20px;
}
textarea{
  background-color: #EDEFF5;
  border: none;
  resize: vertical;
  padding: 10px;
}
#section1, #section2{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}
#section2 button{
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.down{
  margin-bottom: 20px;
}

.upload-file{
  border: dashed #C3C4CD 2px;
  border-radius: 5px !important;
  border-spacing: 20px;
  justify-content: center;
  align-items: center;
}


.upload-file input{
  background-color: #fff !important;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #999 ;
  border-radius: 5px;
  padding: 5px 0px;
  cursor: pointer;
  margin-top: 5px;
}

.file-upload-prompt {
  text-decoration: underline;
  color: #0C923B !important;
  font-size: 15px !important;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 5px ;
}

#fileInput {
  display: none;
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-label {
  margin-right: 10px;
}

.toggle-button,  
   .toggle-buttin, .toggle-buton, .toggle{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:before, .toggle-buttin:before, .toggle-buton:before, .toggle:before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-button.on, .toggle-buttin.on, .toggle-buton.on, .toggle.on {
  background-color: #6ab04c;
}

.toggle-button.on:before, .toggle-buttin.on:before, .toggle-buton.on:before, .toggle.on:before {
  transform: translateX(30px);
}

/* Hide the checkbox */
.toggle-button input, .toggle-buttin input , .toggle-buton input, .toggle input[type="checkbox"] {
  display: none;
  /* opacity: 0; */
  height: 2em;
  top: 10px;
  width: 20px;
}
.signatures{
  padding: 8px;
  border: #C3C4CD solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.monitored{
  display: flex;
  gap: 15px;
}
 .monitored img{
  border-radius: 10px !important;
}
.monitored  .texts{
  display: flex;
  flex-direction: column;
  gap: 2px !important;
}
.monitored .texts h3{
  display: flex;
  top: -5px;
}
.monitored .texts p{
  display: flex;

  padding: 0px !important;
}
/* .security screen */
.security{
  padding: 20px;
}

.security h3{
  font-weight: 800;
}

.shadow{
    box-shadow: 1px 2px 4px 0px rgba(142, 142, 142, 0.18);
}

.inner p{
  color: #005655 !important;
}
.inner a {
  color: #005655 !important;
  font-weight: bold;
}
.wallet-button{
  display: flex;
  gap: 20px;
}
.nbtn{
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: none;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  width: max-content;
}
.plusbtn{
  background-color: #C9F001;
  color: #005655;
}
.sendbtn{
  background: none;
  border: solid 1px ;
  border-color: #c9f001;
  color: #c9f001;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #005655;
}
.flex a{
  color: #005655;
}
.bold-text{
  font-size: 24px;
  font-weight: 800 !important;
}
.title-text{
  color: #005655 ;
}
.imgg{
  display: flex;
  border-radius: 50%;
  padding: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.background-trend-up {
  background-color: #E1F8E7;
}
.background-trend-down{
  background-color: #FFEFF1;
}
.success{
  color: #00C71E !important;
}
.error{
  color: #EF4C49 !important;
}
.pending{
  color: #72747D !important;
}
.input a{
  color: rgba(195, 196, 205, 1);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.popup1{
  height: 90%;
}
.popup2{
  height: 70% !important;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup .menu-lists{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup .menu-lists .list{
  border-bottom: solid 1px rgba(237, 239, 245, 1);
  padding: 5px;
}